

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color:black;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bggradient);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bggradient);
}


.back-to-top {
  position: fixed;
  display: none;
  background: var(--bggradient);
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solidblack;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}



:root {

  --light-black: #2e2c2caf;
  --bggradient:linear-gradient(95deg, rgb(255, 94, 98) 20%, rgb(255, 153, 102) 80%);

  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f1f1f1;
 
}

.dropdown-content a {
  color: #262626 !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}
header .nav-link{
  font-weight: 600;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

.top-header {
  background: #ff512f;
  height: 100vh;
  background: var(--bggradient);
}

header .container .col-md-7 {
  text-align: left;
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 0vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #616161;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #fef8ee;
}

/* About Us Section
--------------------------------*/

#about {
  padding: 80px 0;
}

#about .about-content {
  padding-top: 40px;
}

#about .about-content h2 {
  color: #616161;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#about .about-content h3 {
  color: #696592;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color:black;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#about .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

#about .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

/* Services Section
--------------------------------*/

#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color:black;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

/* Why Us Section
--------------------------------*/

#why-us {
  padding: 60px 0;
}

#why-us .why-us-content .features {
  margin: 0 0 15px 0;
  padding: 0;
  transition: 0.3s ease-in-out;
}

#why-us .why-us-content .features i {
  font-size: 36px;
  float: left;
}

#why-us .why-us-content .features h4 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 56px;
  color: #616161;
  margin-bottom: 5px;
}

#why-us .why-us-content .features p {
  font-size: 16px;
  margin-left: 56px;
  color: #555186;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #555186;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #8a87b6;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: var(--bggradient);
  background-size: cover;
  padding: 40px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background:black;
  border: 3px solidblack;
}

/* Features Section
--------------------------------*/

#features {
  padding: 80px 0;
}

#features h4 {
  font-weight: 600;
  font-size: 24px;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 60px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #616161;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color:black;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color:black;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #f8fcff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: var(--bggradient);
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #42c3e8;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #282646;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* Testimonials Section
--------------------------------*/

#testimonial {
  padding: 60px 0;
  
  background:#fef8ee ;
}

.carousel-testimonial-img{
  width: 10rem !important;
}

.carousel-control-next, .carousel-control-prev {
  background: var(--bggradient);
  height: 1.5rem;
  top: 50%;
}

/* Team Section
--------------------------------*/

#team {
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  height: 80px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
      color: var(--bggradient) !important;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0;
}

#clients img {
  max-width: 80%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color:black;
}

/* Pricing Section
--------------------------------*/

#pricing {
  padding: 80px 0;
}

#pricing .card {
  border: 0;
  border-radius: 0px;
  box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
  transition: all .3s ease-in-out;
  padding: 36px 0;
  position: relative;
}

#pricing .card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color:black;
  transition: 0.5s;
}

#pricing .card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#pricing .card:hover:after {
  width: 100%;
}

#pricing .card .card-header {
  background-color: white;
  border-bottom: 0px;
  -moz-text-align-last: center;
  text-align-last: center;
}

#pricing .card .card-title {
  margin-bottom: 16px;
  color: #535074;
}

#pricing .card .card-block {
  padding-top: 0;
  text-align: center;
}

#pricing .card .list-group-item {
  border: 0px;
  padding: 6px;
  color: #616161;
  font-weight: 300;
}

#pricing .card h3 {
  font-size: 64px;
  margin-bottom: 0px;
  color: #535074;
}

#pricing .card h3 .currency {
  font-size: 30px;
  position: relative;
  font-weight: 400;
  top: -30px;
  letter-spacing: 0px;
}

#pricing .card h3 .period {
  font-size: 16px;
  color: #6c67a3;
  letter-spacing: 0px;
}

#pricing .card .list-group {
  margin-bottom: 15px;
}

#pricing .card .btn {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #5f5b96;
  border-radius: 0;
  padding: 10px 24px;
  letter-spacing: 1px;
  border-radius: 3px;
  display: inline-block;
  background:black;
  color: #fff;
}

#pricing .card .btn {
  background: var(--bggradient);
}
#pricing .card .btn:hover {
  background:black;
  color: #fff;
}

/* Frequently Asked Questions Section
--------------------------------*/

#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color:black;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fef8ee;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #616161;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #535074;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--bggradient);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #000;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #616161;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
  color:black;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: var(--bggradient);
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #000;
  color: #fff;
}

#footer .footer-top .form .form-group {
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
  color: #fff;
  background:black;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
  color: #fff;
  display: none;
  background: red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
  display: block;
}

#footer .footer-top .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#footer .footer-top .form label {
  color: #616161;
  font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {

    background: var(--bggradient);
    border: white;

  
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
  background:#000;
  color: #fff;
  cursor: pointer;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color:black;
}

#footer .credits a:hover {
  color: #0a98c0;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 991px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  #intro .intro-info {
    padding-top: 80px;
  }

  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #topbar {
    display: none;
  }

  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #why-us .why-us-content {
    padding-top: 30px;
  }

  #pricing {
    padding-bottom: 30px;
  }

  #pricing .card {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .testimonial{
    max-width: 100% !important;
  }
  .back-to-top {
    bottom: 15px;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }

  header .navbar-brand {
    padding-left: 0rem;
}

header .row .col-md-7 {
  padding: 7vmin 2vmin;
  padding-bottom: 0vmin;
}
.top-header {
  background: #ff512f;
  height: auto; 
  padding: 2rem 0rem 3rem 0rem;
  background: var(--bggradient);
}
}

@media (max-width: 767px) {

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
  header .row .col-md-7 {
    padding: 12vmin 2vmin !important;
  }
}
@media (max-width: 1024px) {
header .navbar-brand {
  padding-left:1rem;
}
header .row .col-md-7 {
  padding: 7vmin 2vmin;
  padding-bottom: 0vmin;
}
.top-header {
  background: #ff512f;
  height: auto; 
  padding: 2rem 0rem 3rem 0rem;
  background: var(--bggradient);
}

}












:root {
  --first-color: #D8DBE2;
  --second-color: #F2BF25;
  --text-color: #000;
  --white-color: #FFF;
}


:root {
  --body-font:'Raleway', sans-serif;
  --h2-font-size: 1.25rem;
  --big-font-size: 3rem;
  --normal-font-size: 0.93rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h2-font-size: 2rem;
    --big-font-size: 6rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
 
  color: var(--text-color);
  font-weight: 700;
}

.btn-gradient{
  background: var(--bggradient);
  border: white;
}

.btn-gradient:hover {
  background:black;
  color: #fff;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*----- LAYOUT -----*/
.bd-grid {
  margin-left:10rem !important;
  margin-right: 10rem !important;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
  background-color: transparent;
  padding-top: 2rem;
}

/*Home*/
.l-main {
  height: calc(100vh - 3rem);
}

.home {
  z-index: 5;
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.home__title {
  position: absolute;
  top: 4%;
  left: 5%;
  font-size: var(--big-font-size);
  font-weight: 900;
  z-index: var(--z-fixed);
}

.home__img {
  position: absolute;
  top: 10%;
  left: 22%;
  width: 235px;
  height: 353px;
  z-index: var(--z-tooltip);
}

.home__social {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-top: 2rem;
}

.home__social-link {
  padding-bottom: 2rem;
  color: var(--text-color);
  font-size: var(--smaller-font-size);
}

.home__subtitle {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-top: 2rem;
  padding-right: .5rem;
  font-size: var(--h2-font-size);
  font-weight: 900;
}

.home__button {
  position: absolute;
  right: 0rem;
  bottom: 0;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--white-color);
}

.home__button1 {
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--white-color);
}



.home__button-icon {
  padding-left: 4.25rem;
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 769px) {

  body {
    margin: 0;
  }
  
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__link {
    text-transform: initial;
  }
  .home {
    -ms-grid-columns: 4fr 1fr;
        grid-template-columns: 4fr 1fr;
  }
  .home__title {
    top: 16%;
    left: 23%;
  }
  .home__img {
    width: 359px;
    height: 539px;
    top: 18%;
    left: 43%;
  }
  .home__social {
    padding-top: 5rem;
  }
  .home__social-link {
    padding-bottom: 3rem;
  }
  .home__subtitle {
    padding-top: 8rem;
    padding-right: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

.show {
  z-index: 5;
}



body{
  margin: 0;
}

.slider__navi {
position: absolute;
top: 50vh;
right: 10rem;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
z-index: 999;
}

.slider__navi a {
display: block;
height: 6px;
width: 20px;
margin: 20px 0;
text-indent: -9999px;
box-shadow: none;
border: none;
background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
background: rgba(255,255,255,1);
}

body {
position: relative;
font-size: 100%;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
min-height: 100vh;
}

.flex__container {
position: absolute;
top: 0;
left: 0;
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
-webkit-flex-flow: row wrap;
-moz-flex-flow: row wrap;
-ms-flex-flow: row wrap;
-o-flex-flow: row wrap;
flex-flow: row wrap; 
-webkit-justify-content: flex-start;
-moz-justify-content: flex-start;
-ms-justify-content: flex-start;
-o-justify-content: flex-start;
justify-content: flex-start;
height: 100vh;
width: 100%;
z-index: 1;
}

.flex__container.flex--active {
z-index: 2;
}

.text--sub {
font-size: 12px;
letter-spacing: 0.5rem;
text-transform: uppercase;
margin-bottom: 40px;
}

.text--big {
font-family: 'Poppins', sans-serif;
font-size: 7.5em;
font-weight: 700;
line-height: 110px;
margin-left: -8px;
}

.text--normal {
font-size: 13px;
color: rgba(255, 255, 255, 0.8);
line-height: 22px;
margin-top: 25px;
}

.text__background {
font-family: 'Poppins', sans-serif;
position: absolute;
left: 72px;
bottom: -60px;
color: rgba(0,0,0,0.05);
font-size: 170px;
font-weight: 700;
display: none;
}

.flex__item {
height: 100vh;
color: #fff;
transition: transform 0.1s linear;
}

.flex__item--left {
  clip-path: polygon(0 0, 90% 0, 66% 100%, 0% 100%);
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
align-items: center;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
width: 90%;
transform-origin: left bottom;
transition: transform 0.1s linear 0.4s;
opacity: 0;
position: relative;
overflow: hidden;
}

.flex__item--right {
  clip-path: polygon(100% 0, 90% 0, 66% 100%, 100% 100%);
width: 0%;
transform-origin: right center;
transition: transform 0.1s linear 0s;
opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
background: #3e9fe6;
}

.flex--piplup .flex__item--right {
background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
background: #f8d41f;
}

.flex--pikachu .flex__item--right {
background: #f4ecc5;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
background: #f64f37;
}

.flex--blaziken .flex__item--right {
background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
background: #476089;
}

.flex--dialga .flex__item--right {
background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
background: #424242;
}

.flex--zekrom .flex__item--right {
background: #a7bcbb;
}

.flex__content {
margin-left:10rem;
width: 55%;
opacity: 1;
transform: translate3d(0,0,0);
transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
position: absolute;
bottom: 20px;

max-height: 40vw;
opacity: 1;
transform: translate3d(0,0,0);
transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}
.img1{
  right: 25%;
}

.img2{
  right: 20%;
}

.img3{
  right: 10%;
}

.home__button-icon {
  padding-left: 1rem;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
transform: translate3d(0,-200%,0);
opacity: 0;
}

.flex__container.animate--start .pokemon__img {
transform: translate3d(-200px,0,0);
opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
transform: translate3d(0,200%,0);
opacity: 0;
}

.flex__container.animate--end .pokemon__img {
transform: translate3d(200px,0,0);
opacity: 0;
}


@media only screen and (max-width: 1500px) {
  .l-main {
    height: 50vh;
  }


  .flex__item--left {
    height: 50%;
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
align-items: center;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
width: 90%;
}

.flex__item--right {
  width: 0%;
  height: 50%;
transform-origin: right center;
transition: transform 0.1s linear 0s;
opacity: 0;
}

.home{
  height: 100%;
}
.slider__navi {
  top: 25vh;
}
.pokemon__img {
  position: absolute;
  top: 10vh;
  bottom: auto;
}

}





@media only screen and (max-width: 768px) {
  .l-main {
    height: 97vh;
  }

 
  .navbarwidth{
    margin-top: 0;
    margin: 0 2.5rem;
  }
  .bd-grid {
    margin-left:4rem !important;
    margin-right: 4rem !important;
  }
  .slider__navi {
    top: 50vh;
    right:4rem;
}
  
  .flex__item--left {
    clip-path: polygon(100% 0, 0 0, 0 66%, 100% 55%);
height: 90%;
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
align-items: center;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
width: 100% !important;
}

.flex__content{
  margin-top: -25rem;
}

.flex__item--right {
  width: 100% !important;
  height: 00%;
transform-origin: right center;
transition: transform 0.1s linear 0s;
opacity: 0;
}
.home{
  height: 100%;
}

.pokemon__img {
  position: absolute;
  top: 40vh;
  bottom: auto;
}

.pokemon__img {
  position: absolute;
  bottom: 20px;
  max-height: 90vw;

}

.home__subtitle {
  padding-top: 0;
  margin-right: 55rem;
}
hr.lines {
 display: none;
}

}

@media only screen and (max-width: 415px) {
  .flex__content {
  margin-left: 60px;
  margin-top: -30vh;
  }
  .text--big {
  font-size: 3rem;
  line-height: 10px;
  }

  .btn-get-started{
      font-size: 5px;
      padding: 5px 16px;
  }

  .text--sub {
  font-size: 10px;
  margin-top: 2rem !important;
  }
  .text--normal {
  font-size: 8px;
  margin:2rem 0rem 0 !important;
  }
  .text__background {
  left: 50px;
  bottom: -80px;
  font-size: 100px;
  font-weight: 700;
}
.slider__navi {
  top: 50vh;
  right: 60px;
}

.home__subtitle {
  margin-left: 0rem;
  margin-bottom: -1rem;
}
.home__button {
  position: absolute;
  right: 0rem;
  bottom: -1rem;
  font-size: 0.5rem;
  padding: 0.5rem;
}

.home__button1 {

  font-size: 0.5rem;
  padding: 0.5rem;
}


.img1{
  right: 35%;
}

.img2{
  right: 20%;
}

.img3{
  right: 5%;
}

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    margin-left: -1rem;
    padding-left: 0;
  }
  header .container .col-md-7 {
    text-align: center;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }

  header .row .col-md-7 {
    padding: 12vmin 1vmin 1vmin 0;
    padding-bottom: 5vmin;
  }

    header .row .col-md-5 img{
      padding-bottom: 1rem;
      } 
      header .nav-item:last-child {
        padding-right: 0; 
    }
    .navbar-collapse {
      text-align: center;
    }  

    }

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
  .headertext{
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}

}



/* hr styling */

hr.lines {
  margin-left:12rem;
    width: 400px;
    position: relative;
    border-top: 2px solid #0071bc;
    margin-top: -18px;
  position: relative;
   box-sizing: content-box;
  height: 0;
  overflow: visible;
}
hr.lines:before {
  position: absolute;
  content: "";
  display: inline-block;

  height: 10px;
  width: 10px;
  top: -7px;
  border: 6px solid #D6D8FF;
  border-radius: 50%;
  background: #0071bc;
  left: 0px;
  animation: pulse 2s infinite;
}
/* pules effect */
@-webkit-keyframes pulse {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
}
70% {
    -webkit-box-shadow: 0 0 0 20px rgba(70,118,250, 0);
}
100% {
    -webkit-box-shadow: 0 0 0 0 rgba(70,118,250, 0);
}
}
@keyframes pulse {
0% {
  -moz-box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
  box-shadow: 0 0 0 0 rgba(70,118,250, 0.4);
}
70% {
    -moz-box-shadow: 0 0 0 20px rgba(70,118,250, 0);
    box-shadow: 0 0 0 20px rgba(70,118,250, 0);
}
100% {
    -moz-box-shadow: 0 0 0 0 rgba(70,118,250, 0);
    box-shadow: 0 0 0 0 rgba(70,118,250, 0);
}
}


.PACardContainer
{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
}
.PACardContainer:hover .PACard
{
    filter: blur(5px);
    transform: scale(.7);
}
.PACardContainer .PACard
{
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}
.PACardContainer .PACard:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.PACardContainer .PACard:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
.PACardContainer .PACard:hover:before
{
  background: var(--bggradient);
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.PACardContainer .PACard:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    background: rgba(255,255,255,.1);
    z-index: 1;
}
.PACardContainer .PACard:hover:after
{
    transform: scaleY(1.15);
}
.PACardContainer .PACard:hover
{
    z-index: 1;
}
.PACardContainer .PACard .content
{
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: 0.5s;
}
.PACardContainer .PACard:hover .content
{
    color: #fff;
}
.PACardContainer .PACard .content h2
{
    font-size: 3em;
}
.PACardContainer .PACard .content p
{
    font-size: 0.9em;
}
.PACardContainer .PACard .content a
{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}
.PACardContainer .PACard:hover .content a
{
    background: #2196F3;
}


/* stat counter */


section#counter-stats {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
