* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    padding: 0px;
    margin: 0px;
    background-color: #fef8ee !important;
}


/*================================scroll bar*/
/*===============scroll bar==========*/
/*====================scroll bar================*/
/* width */
::-webkit-scrollbar {
    width: 7px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(95deg, rgb(255, 94, 98) 20%, rgb(255, 153, 102) 80%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  linear-gradient(95deg, rgb(255, 94, 98) 20%, rgb(255, 153, 102) 80%); 
  }
  /*======================================scroll bar ============================*/

/*===============================scroll==================*/

.inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.manage-head {
    margin: 0px !important;
    text-align: center;
    font-size: 16px !important;
}

.manage-para {
    margin: 0px !important;
    text-align: center;
    font-size: 14px;
}

.btn {
    background-color: #fef8ee !important;
}

.btn:hover {
    border: 0px !important;
}


/*NAVBAR*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.founder .row {
    width: 100%;
    min-height: 600px;
}

.founder-img {
    width: 100%;
    height: 60%;
    box-shadow: 2px 5px 5px 2px rgb(110, 109, 109);
    margin-top: 80px !important;
    border-radius: 5px;
}

.founder-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px 10px 10px 10px;
}

.founder ul li {
    list-style-type: square;
}

.mainheading {
    text-align: center;
    margin: 50px 0px 50px 0px !important;
}



.background {
    background-attachment: fixed;
    background-color: rgb(250, 236, 238);
    width: 100%;
    padding: 50px;
    margin: 20px 0px 20px 0px;
}


/*board director */
.mard-deck {
    display: flex;
    width: 100%;
    min-height: 300px;
    justify-content: space-around;
    border-radius: 10px;
}
.board {
    margin: 90px auto 50px auto;
    border-radius: 10px;
}

.card {
    align-items: center;
    width: 350px !important;
    height: 400px;
   
    position: relative;
    border-radius: 10px;
}

.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.card .image img {
    width: 100%;
    transition: .5s;
    border-radius: 10px;
}

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
    border-radius: 10px;
    /*100%*/
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    /*100%*/
    height: 100%;
    background: linear-gradient(95deg, rgb(255, 94, 98) 20%, rgb(255, 153, 102) 80%); 
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    border-radius: 10px;
}

.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
    border-radius: 10px;
}

.card .details .center {
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.137);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #faf8f6;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}

.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}

.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}

.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}

.card .details .center ul li a {
    display: block;
    background: #c05208;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    border-radius: 50%;
}

.card .details .center ul li a:hover {
    background: #0f0f0f;
}


/*ceo*/

.ceoimg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    vertical-align: middle !important;
    margin-left: 40px;
    top: 50%;
    margin-top: auto;
    justify-content: center;
}

.ceo {
    min-height: 300px;
    margin: 90px auto 40px 30px;
    border-radius: 10px;
}

.ceopara {
    line-height: 2rem;
}


/*team*/

#team {
    padding: 60px 0;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 250px!important;
}

#team .member .member-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    padding: 15px 0;
    background:linear-gradient(95deg, rgb(255, 94, 98) 20%, rgb(255, 153, 102) 80%);
}

#team .member .member-info-content {
    transition: margin 0.2s;
    height: 40px;
    transition: height 0.4s;
}

#team .member:hover .member-info {
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    height: 100px !important;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social {
    margin-top: 15px;
}

.social-links .btn:hover {
    border: 0px !important;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


/*responsive*/

@media screen and (max-width:700px) {
    .card {
        width: 100%;
        height: 400px;
        margin: 30px auto 0px auto;
    }
    .card .details {
        width: 85%;
    }
    .mard-deck {
        display: block;
    }
    .member {
        width: 200px !important;
        height: 180px !important;
        margin: auto;
    }
    #team {
        padding: 0px !important;
    }
    .fimg {
        margin-top: 0px !important;
    }
    .founder {
        width: 100%;
        padding: 0px;
    }
    .founder-image {
        height: 100%;
    }
    .founder-content {
       margin-left:0 !important;
       margin-right: 0 !important;
        margin-top: -80px;
        width: 100%;
    }
    .ceoimg {
        margin-bottom: 20px;
    }
}


/*footer*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

:root {
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(95deg, rgb(255, 94, 98) 20%, rgb(255, 153, 102) 80%);
    --light-gray: rgba(255, 255, 255, 0.877);
}

#footer {
    padding: 0 0 0px 0;
    font-size: 14px;
    background: #fff;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fef8ee;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #616161;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #535074;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--bggradient);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #000;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #616161;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
    color: black;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border: 1px solid #d9dde6;
    border-radius: 0px !important;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: var(--bggradient);
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    border: 0px !important;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #000;
    color: #fff;
}

#footer .footer-top .form .form-group {
    margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
    color: #fff;
    background: black;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
    color: #fff;
    display: none;
    background: red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
    display: block;
}

#footer .footer-top .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#footer .footer-top .form label {
    color: #616161;
    font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dce1ec;
    font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {
    background: var(--bggradient);
    border: white;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
}

#footer .credits a {
    color: black;
}

#footer .credits a:hover {
    color: #0a98c0;
}